html {
    background-color:green;
}

p c{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    text-decoration: underline;

}

